* {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: bold;
  font-weight: 600;
}

h2 {
  font-family: 'Domine', serif;
  font-weight: 400;
}

.iconGroup {
  position: absolute;
  margin-right: 3vh;
  bottom: 1vh;
  z-index: 5001;
  background-color: white;
}

.iconBox {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.icons {
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: 50%;
}

.icons:hover {
  background-color: #d3d3d3;
}
