.marker-btn {
  width: 15px;
  height: 20px;
}

/* .marker-btn:hover {
  width: 30px;
  height: 10px;
} */

.zoom-controls {
  /* margin: 1% 0 0 96%; */
  width: 30px;
  height: 100px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.footerHolder {
  margin-top: 10px;
  margin-right: 10px;
  width: 30px;
  position: fixed;
  top: 0;
  right: 0;
}
#ReactMapGL {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  /* border: solid 1px red; */
}

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.mini-view {
  /* margin-bottom: 10px;
  margin-right: 10px; */
  position: absolute;
  bottom: 40px;
  right: 20px;
  /* margin: 50% 0 0 88%; */
  border-radius: 4px;
  height: 65px;
  width: 97px;
}

/* @media screen and (max-width: 1024px) {
  .mini-view {
    margin: 515px 0 0 795px;
  }
}
@media screen and (max-width: 600px) {
  .mini-view {
    margin: 200px 0 0 200px;
  }
} */

.satellite {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.search {
  position: absolute;
  z-index: 1;
  width: 250px;
  transition: 0.3s ease;
}

.infoDrawer {
  margin-top: 30vh;
  height: 350px;
}

.infoDrawer h2 {
  color: #161345;
}

.infoDrawer h3 {
  color: #161345;
}
